<form id="policyForm">

  <div>
    <h3>Basis</h3>
    <p class="section-desc">Kerngegevens om de bron en de betrokken partijen te identificeren.</p>
  </div>

  <div>
    <label for="dataUri" class="required">Gegevens URI</label>
    <p class="field-desc">Het gedeelde bestand.</p>
    <input required type="url" id="dataUri" placeholder="e.g. http://example.com/ids/data/abc" />
  </div>

  <div>
    <label>Type Policy</label>
    <p class="field-desc">Toegang aanbieden of verzoeken.</p>
    <select id="policyType">
      <option value="Offer">Aanbod</option>
      <option value="Request">Verzoek</option>
    </select>
  </div>

  <div class="single-line">
    <div>
      <label for="provider" class="required">Gegevensaanbieder</label>
      <p class="field-desc">Wie geeft toegang.</p>
      <input required type="url" id="provider" placeholder="e.g. http://gegevensaanbieder" />
    </div>
    <div>
      <label for="consumer" class="required">Gegevensconsument</label>
      <p class="field-desc">Wie krijgt toegang.</p>
      <input required type="url" id="consumer" placeholder="e.g. http://gegevensconsument" />
    </div>
  </div>

  <div>
    <label class="required">Rechten (Permissions)</label>
    <p class="field-desc">De toegestane acties die aan de deelnemer worden verleend.</p>
    <div class="single-line" id="permissions">
    <label for="permRead">Gegevens lezen <input type="checkbox" id="permRead" name="permission"/></label>
    <label for="permAdd">Gegevens toevoegen <input type="checkbox" id="permAdd" name="permission"/></label>
    <label for="permModify">Gegevens wijzigen <input type="checkbox" id="permModify" name="permission"/></label>
    <label for="permManage">Machtigingen beheren <input type="checkbox" id="permManage" name="permission"/></label>
  </div>
</div>

  <div>
    <h3>Semantiek</h3>
    <p class="section-desc">Beschrijvende metadata voor intern policybeheer.</p>
  </div>
    
  <div class="single-line">
    <div>
      <label>Naam</label>
      <input type="text" id="name" placeholder="PolicyNaam" />
    </div>
    <div>  
      <label>Id</label>
      <input type="text" id="id" placeholder="Policy-1" />
    </div>
  </div>

  <div>  
    <label>Beschrijving</label>
    <textarea id="description" placeholder="lorem ipsum dolor sit amet,"></textarea>
  </div>

  <div>
    <h3>Beperkingen</h3>
    <p class="section-desc">Specifieke regels en limieten die van kracht zijn voor deze toegang.</p>
  </div>
  
  <div id="constraints">
    <div>  
      <label for="purpose" class="required">Doel</label>
      <p class="field-desc">Het doel waarvoor toegang tot de informatie verleend word.</p>
      <select name="purpose" id="purpose" class="field" multiple required placeholder="Kies doelen..."></select>
    </div>

    <div>  
      <label>Looptijd <input type="checkbox" id="useDuration"/></label>
      <p class="field-desc">De specifieke periode waarin toegang geldig blijft.</p>
      <div class="field" id="Duration">
        <div class="single-line">
          <div>
            <label for="DurationYear">Jaar</label>
            <input type="number" id="DurationYear" placeholder="bijv. 1" min="0" value="0"/>
          </div>
          <div>
            <label for="DurationMonth">Maand(en)</label>
            <input type="number" id="DurationMonth" placeholder="bijv. 1" min="0" max="11" value="0"/>
          </div>
          <div>
            <label for="DurationDay">Dag(en)</label>
            <input type="number" id="DurationDay" placeholder="bijv. 1" min="0" max="30" value="0"/>
          </div>
          <div>
            <label for="DurationHour">Uur</label>
            <input type="number" id="DurationHour" placeholder="bijv. 1" min="0" max="23" value="0"/>
          </div>
        </div>
      </div>
    </div>

        <div>
          <label>Start Tijd <input type="checkbox" id="useStartTime" /></label>
          <p class="field-desc">Een specifieke datum waarop toegang begint.</p>
          <input type="datetime-local" id="StartTime" class="field"/>
        </div>

        <div>
          <label>Eind Tijd <input type="checkbox" id="useEndTime" /></label>
          <p class="field-desc">Een specifieke datum waarop toegang eindigt.</p>
          <input type="datetime-local" id="EndTime" class="field"/>
        </div>

    <div>  
      <label>Locatie <input type="checkbox" id="useLocation" /></label>
      <p class="field-desc">Geografische beperkingen op informatie-toegang.</p>
      <input type="url" id="Location" placeholder="http://example.com/locatie/locatieNaam" class="field"/>
    </div>

    <div>  
      <label>Aantal keren gebruik <input type="checkbox" id="useUsage" /></label>
      <p class="field-desc">Een numerieke limiet op het aantal toegestane interacties.</p>
      <input class="field" type="number" id="Usage" placeholder="bijv. 10" min="1"/>
    </div>
  </div>

  <div>
    <h3>Verplichtingen</h3>
    <p class="section-desc">Verplichtingen die nodig zijn om geldige toegang te behouden.</p>
  </div>

  <div id="duties">
    <label for="delete">Gegevens verwijderen<input type="checkbox" id="delete"/></label>
    <label for="anonymize">Gegevens anonimiseren<input type="checkbox" id="anonymize"/></label>
    <label for="encrypt">Gegevens versleutelen<input type="checkbox" id="encrypt"/></label>
    <label for="notify">Melding bij toegang<input type="checkbox" id="notify"/></label>
  </div>

  <div class="single-line"> 
    <button type="submit" id="createPolicy">Policy genereren</button>
  </div>
</form>

<div id="summary-display">
    <div class="summary-title">Uitleg geselecteerde regel</div>
    <div id="summary-content" class="empty">Gedetailleerde samenvatting verschijnt hier.</div>
</div>