<div id="find-1">
    <div style="display: flex; align-items: center; gap: 15px; margin-bottom: 10px;">
        <button id="back-btn">⬅ Back</button>
        <h2 id="path">/</h2>
    </div>

    <div class="content">
        <div id="files" class="scrollable">
            <table id="files-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>AccessTier</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    </tbody>
            </table>
        </div>
            <div id="policies" class="scrollable">
                <table>
                    <tr>
                        <th>FileName</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>User</th>
                        <th>Read</th>
                        <th>Add</th>
                        <th>Modify</th>
                        <th>Manage</th>
                    </tr>
                    <tr>
                        <td>Alice</td>
                        <td>✓</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>Bob</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>X</td>
                    </tr>
                                        <tr>
                        <td>Alice</td>
                        <td>✓</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>Bob</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>X</td>
                    </tr>
                                        <tr>
                        <td>Alice</td>
                        <td>✓</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>Bob</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>X</td>
                    </tr>
                </table>
            </div>
        </div>
    <div>
        <div id="summary">
            <h3>Specific Policy Info</h3>
            <p>A data provider is an party that is issuing the rule. Here the provider is myCompany party. This party is either the Data Owner or the Data Provider of the specified data asset. In this Policy OFFER example, the permission rule allows the Data Consumer to use the target asset.The identifier of this policy and the target asset are http://example.com/policy/myPolicy and http://example.com/data/sample, respectively.</p>
        </div>
    </div>
</div>
